<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ygba.youthgobudget">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SpashActivity"></activity>
        <activity
            android:name=".BudgetFormActivity"
            android:label="@string/title_activity_budget_form"
            android:parentActivityName=".FrontActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ygba.youthgobudget.FrontActivity" />
        </activity>
        <activity
            android:name=".AgricListActivity"
            android:label="@string/title_activity_agric_list"
            android:parentActivityName=".FrontActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ygba.youthgobudget.FrontActivity" />
        </activity>
        <activity
            android:name=".MedicalFormActivity"
            android:label="@string/title_activity_medical_form"
            android:parentActivityName=".FrontActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ygba.youthgobudget.FrontActivity" />
        </activity>
        <activity
            android:name=".MedicalRecordActivity"
            android:label="@string/title_activity_medical_record"
            android:parentActivityName=".FrontActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ygba.youthgobudget.FrontActivity" />
        </activity>
        <activity
            android:name=".EducationActivity"
            android:label="@string/title_activity_education"
            android:parentActivityName=".FrontActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ygba.youthgobudget.FrontActivity" />
        </activity>
        <activity
            android:name=".FrontActivity"
            android:label="@string/title_activity_front"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EducationRecordActivity"
            android:label="@string/title_activity_education"
            android:parentActivityName=".FrontActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ygba.youthgobudget.FrontActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>